header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  text-align: center; 
}

body {
    background-color : daf2ff;
    }
    img {
      width: 100px;
      height: auto;
      margin-top: 80px;
    }
  